body {
   /* background-image: url("background.jpg");*/
}

.outer_div{
	position : relative;
	height : 500px;
	width : 400px;
	left : 40px;
	top : 80px;
	background : white;
	border : 1px solid blue;
}

.inner_div1{
	position : absolute;
	top: 20px;
    left: 20px;
    width: 0px;
    height: 50px;
}

.inner_div2{
	position : absolute;
	top: 60px;
    left: 20px;
    width: 0px;
    height: 50px;
}

.inner_div3{
	position : absolute;
	top: 120px;
    left: 20px;
    width: 0px;
    height: 50px;
}

.inner_div4{
	position : absolute;
	top: 300px;
    left: 280px;
    width: 0px;
    height: 50px;
}

